@media (orientation: landscape) and (max-width: 980px)  and (min-aspect-ratio: 4/3) {
    article {
        width: 100vw;
    }
    
    .splashEl {
        width: 87vh;
    }
    .square {
        height: 87vh;
        margin-left: calc((100vw - 87vh)/2);
        margin-top: 0.5vh;
        border: 0.5vh solid #a9a9a9;
    }
    #startScr {
        height: 99vh;
        width: 99vh;
        margin-left: calc((100vw - 99vh)/2);
    }
    #startScr div {
        height: 40vh;
        line-height: 20vh;
    }
    h3 {
        font-size: 14vh;
    }
    #startScr button {
        height: 18vh;
        width: 50%;
        font-size: 8vh;
    }
    address, a {
        font-size: 4vh;
    }
    #startScr address {
        height: 40vh;
        line-height: 40vh;
    }
    #chooseSideScr div {
        margin-top: 15.5vh;
        height: 20vh;
        font-size: 20vh;
        line-height: 20vh;
    }
    #chooseSideScr button {
        height: 16vh;
        width: 16vh;
        font-size: 10vh;
    }
    #chooseSideScr span {
        height: 16vh;
        width: 20vh;
        line-height: 16vh;
        font-size: 10vh;
    }
    #backBtn {
        margin-top: 2vh;
    }
    #infoScr {
        position: absolute;
        left: 0.5vh;
        height: 99vh;
        width: calc((100vw - 87vh)/2 - 0.5vh);
    }
    #infoScr div {
        height: 29vh;
        width: 100%;
        margin: 0;
        padding-top: 8.5vh;
        font-size: 4vh;
    }
    #player1ScoreScr {
        border-top: 0.5vh solid #a9a9a9;
    }
    #playingField {
        border: none;
        margin-top: 0.5vh;
    }
    #aiLvlScr, #placeHolder {
        position: absolute;
        top: 1vh;
        right: 0.5vh;
        height: 48.5vh;
        width: calc((100vw - 87vh)/2 - 0.5vh);
    }
    #aiLvlScr * {
        height: 16vh;
    }
    #aiLvl {
        font-size: 6vh;
        line-height: 16vh;
    }
    #aiLvlScr button {
        width: 70%;
        font-size: 4vh;
    }
    #placeHolder {
        font-size: 20vh;
        line-height: 48.5vh;
    }
    .cell {
        height: 29vh;
        width: 29vh;
        font-size: 26vh;
    }
    #endScr {
        z-index: 1;
        line-height: 87vh;
    }
    #footer {
        margin: 0 auto;
        height: 12vh;
        line-height: 12vh;
        background: #d3d3d3;
        border: 0.5vh solid #A9A9A9;
    }
    /*difference with fcc version*/
    .restartBtns {
        position: absolute;
        right: 1vh;
        height: 24.25vh;
        width: calc((100vw - 87vh)/2 - 1.5vh);
        font-size: 5vh;
 
    }
    #replayBtn {
        top: 49.5vh;
    }
    #startNewGameBtn {
        top: 74.25vh;
    }
}