* {
    margin: 0;
    padding: 0;
    font-size: 0;
    box-sizing: border-box;
    font-weight: bold;
    color: #444444;
    overflow: hidden;
    font-family: sans-serif;
}
body {
    background: #A9A9A9;
}
article {
    height: 100vh;
    width: 72vh;
    margin: 0 auto;
    text-align: center;
}
.splashEl {
    width: 72vh;
    margin-top: 14vh;
    background: #d3d3d3;
}
.square {
    height: 72vh;
}
button {
    background-color: #999999;
    border-color: #888888;
    outline-color: #191919;
    border-width: 0.3vh;
}
#startScr div {
    height: 30vh;
    line-height: 15vh;
}
h3 {
    font-size: 12vh;
    color: #ff4500;
    text-shadow: 0.4vh 0vh 0.3vh #444444;
}
#startScr button {
    height: 12vh;
    width: 36vh;
    font-size: 6.5vh;
}
address, a {
    font-size: 2.5vh;
    font-weight: normal;
}
#startScr address {
    height: 30vh;
    line-height: 30vh;
}
a {
    color: #ff4500;
}
#chooseSideScr div {
    margin-top: 13vh;
    height: 16vh;
    font-size: 16vh;
    line-height: 16vh;
}
#chooseSideScr button {
    height: 12vh;
    width: 12vh;
    font-size: 8vh;
}
#chooseSideScr span {
    display: inline-block;
    height: 12vh;
    width: 14vh;
    vertical-align: bottom;
    line-height: 12vh;
    font-size: 8vh;
}
#backBtn {
    display: block;
    margin: 0 auto;
    margin-top: 1vh;
    line-height: 1;
}
#infoScr {
    display: inline-block;
    height: 13.5vh;
    width: 48vh;
    margin-top: 0.5vh;
    border-bottom: 0.5vh solid #A9A9A9;
    border-left: 0.5vh solid #A9A9A9;
    border-right: 0.5vh solid #A9A9A9;
}
#infoScr div {
    display: inline-block;
    font-size: 3.5vh;
    height: 10.5vh;
    margin-top: 1vh;
    width: 15vh;
    line-height: 1;
    color: #565656;
}
#aiLvlScr, #placeHolder {
    display: inline-block;
    height: 13.5vh;
    width: 24vh;
    border-bottom: 0.5vh solid #a9a9a9;
}
#aiLvlScr * {
    height: calc(13vh/3);
}
#aiLvl {
    font-size: 4vh;
}
#aiLvlScr button {
    width: 23vh;
    font-size: 3vh;
    margin-left: 0;
}
#placeHolder {
    font-size: 8vh;
    line-height: 13.5vh;
    color: #ff4500;
    text-shadow: 0.4vh 0vh 0.3vh #444444;
    border-left: 0.5vh solid #a9a9a9;
    border-right: 0.5vh solid #a9a9a9;
    background: #6b6d79;
}
#playingField {
    margin-top: 0;
}
.cell {
    font-size: 12vh;
    display: inline-block;
    height: 24vh;
    width: 24vh;
    font-size: 20vh;
    font-weight: normal;
    border: 0.5vh solid #A9A9A9;
}
.restartBtns {
    margin-top: 0.5vh;
    font-size: 4vh;
    height: 7vh;
    width: 35.5vh;
}
#endScr {
    position: absolute;
    background: none;
    line-height: 72vh;
    color: #faebd7;
    font-size: 13vh;
    text-shadow: 0.4vh 0.4vh 0.5vh #000000,
        -0.1vh -0.1vh 0vh #000000;
}
#footer {
    margin-top: 0;
    height: 6.5vh;
    line-height: 6.5vh;
    background: #A9A9A9;
}